<?xml version="1.0"?>
<!-- 
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category  Ced
 * @package   Ced_Facebook
 * @author    CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright Copyright CEDCOMMERCE (http://cedcommerce.com/)
 * @license   http://cedcommerce.com/license-agreement.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/system_file.xsd">
    <system>
        <tab id="cedcommerce" translate="label" sortOrder="1">
            <label>Cedcommerce</label>
        </tab>
        <section id="facebookconfiguration" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
            <label> Facebook Configuration</label>
            <tab>cedcommerce</tab>
            <resource>Ced_Facebook::Facebook</resource>
            <group id="facebooksetting" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Facebook Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="upload_image_id" translate="label comment" type="image" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Upload Banner Image</label>
                    <backend_model>Ced\Facebook\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">ced/facebook/banner</base_url>
                    <depends>
                        <field id="enable" separator=",">1</field>
                    </depends>
                </field>
                <field id="app_id" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>App Id</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable" separator=",">1</field>
                    </depends>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Debug Log</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable" separator=",">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>