/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt
/Gruntfile.js
/package.json
/Ultimo-Guide.pdf
!/pub/media/wysiwyg/*

puppeteer/node_modules/*

/chatbot/node_modules/*
/phpserver/pub/*
/pub/media/*.*
!/pub/media/.htaccess
/pub/media/catalog/product/*
!/pub/media/catalog/craigslist/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
!/pub/media/tmp/.README
/pub/media/captcha/*
/pub/static/*
!/pub/static/.htaccess
!/pub/media/styles.css
robots.txt
/pub/media/favicon/default/LOGO_MAIN_NO_BACKGROUND.png
!/pub/media/sitemap.xml

/var/*
!/var/.htaccess
/vendor/*
!/vendor/resold
!/vendor/.htaccess

/android/.gradle/*
/android/.idea/*
/android/build/*
/android/app/normal/*

/scripts/scrape/node_modules/*
/scripts/scrape/vendor/*
/scripts/scrape/csv/*.csv
/scripts/scrape/csv/Imported/*.csv
/scripts/scrape/email-sender/db/*
