<?xml version="1.0"?>
<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category  Ced
 * @package   Ced_CsStripePayment
 * @author    CedCommerce Core Team <connect@cedcommerce.com >
 * @copyright Copyright CEDCOMMERCE (http://cedcommerce.com/)
 * @license      http://cedcommerce.com/license-agreement.txt
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <stripe>
                <active>1</active>
                <title>Stripe</title>
                <model>Ced\CsStripePayment\Model\Paymethod</model>
                <new_order_status>processing</new_order_status>
                <payment_action>authorize_capture</payment_action>
                <currency>USD</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>1</sort_order>
            </stripe>
        </payment>
        <ced_csmarketplace>
          <vendor>
				<payment_methods>
					<stripe>*</stripe>
				</payment_methods>
			</vendor>
        </ced_csmarketplace>
    </default>
</config>
