<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <po_compressor>
            <general>
                <is_enabled>0</is_enabled>
            </general>
            <js_settings>
                <is_enabled>1</is_enabled>
                <merge>1</merge>
                <merge_inline>0</merge_inline>
                <compression>1</compression>
                <inline>1</inline>
                <defer>1</defer>
            </js_settings>
            <css_settings>
                <is_enabled>1</is_enabled>
                <merge>1</merge>
                <merge_inline>0</merge_inline>
                <compression>1</compression>
                <inline>1</inline>
                <defer>0</defer>
            </css_settings>
            <html>
                <compression>1</compression>
            </html>
            <image>
                <is_enabled>0</is_enabled>
                <lazy_load>0</lazy_load>
                <merge_images>0</merge_images>
            </image>
            <advanced>
                <folder_permission>0777</folder_permission>
                <file_permission>0777</file_permission>
                <image_merge_file_size_limit>1024</image_merge_file_size_limit>
                <image_merge_css_file_size_limit></image_merge_css_file_size_limit>
            </advanced>
        </po_compressor>
    </default>
</config>