<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
     <test>
         <email>
             <connect_to_stripe>connect_to_stripe_template</connect_to_stripe>
             <list_10_items>list_10_items_template</list_10_items>
         </email>
     </test>
</default>
</config>
