/*
* Add custom styles here
*/

.home-page-image:hover {
    margin-left: -1%;
    margin-right: -1%;
    z-index: 2;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    border-color: transparent;
    border-radius: 12px;
    transition: box-shadow 400ms ease-out;
    -moz-transition: box-shadow 400ms ease-out;
    -webkit-transition: box-shadow 400ms ease-out;
    -o-transition: box-shadow 400ms ease-out;
}

.catalog-category-view .action.tocart {
    display: none;
 }

.icon.ib.ib-hover.ic.ic-compare {
  display: none;
}

.product-info-main .box-tocart .field.qty {
  display:none;
}

.items-grid.centered .item .actions-primary {
  display:none;
}

.page-wrapper {
  min-height: 100%;
}

.font-size-px {
  font-size: 2.9393rem;
  text-align: center;
}

.blue-link {
  color: #41B8EA
}

.turn-your-home {
  text-align: center;
  margin-bottom: 1.5rem;
}

.help-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0rem;
}

.help-block-items {
  margin: 0 15px 30px;
  border: 2px solid #000000;
  border-radius: 5px;
  color: #000000
  display: flex;
  flex: 470px;
  max-width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.help-block-item-link {
  color: #000000
  padding: 20px 30px
  text-decoration: none;
}

.help-block-item-title {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}

.help-block-item-description {
  margin-top: 10px;
  margin: 0;
}

.help-section-nug {
  font-size: 16px;
}

#product-collection-image-1 {
  display: none;
}

.product-reviews-summary .reviews-actions  {
  display:none;
}
