/*
* Add custom styles here
*/

.home-page-image:hover {
    margin-left: -1%;
    margin-right: -1%;
    z-index: 2;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    border-color: transparent;
    border-radius: 12px;
    transition: box-shadow 400ms ease-out;
    -moz-transition: box-shadow 400ms ease-out;
    -webkit-transition: box-shadow 400ms ease-out;
    -o-transition: box-shadow 400ms ease-out;
}

.catalog-category-view .action.tocart {
    display: none;
 }

.icon.ib.ib-hover.ic.ic-compare {
  display: none;
}

.product-info-main .box-tocart .field.qty {
  display:none;
}

.items-grid.centered .item .actions-primary {
  display:none;
}

.page-wrapper {
  min-height: 100%;
}

.font-size-px {
  font-size: 2.9393rem;
  text-align: center;
}

.blue-link {
  color: #41B8EA
}

.turn-your-home {
  text-align: center;
  margin-bottom: 1.5rem;
}
