<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject You have {{var total}} waiting in your Stripe account @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">{{var name}},</p>
<p>You have {{var total}} waiting in your Stripe account. Connect your Resold account with Stripe to receive your funds.</p>
<a style="cursor: pointer" class="btn btn-primary" href="https://{{var host}}/api/stripe/connect"><button style="cursor: pointer; background-color: #41B8EA; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;"><strong>Connect to Stripe</strong></a>

{{template config_path="design/email/footer_template"}}
