.menu-wrapper .logo .logo-img {
  width: auto !important;
}
.mirasvit-logo {
    background-image: none !important;
    background-size: 0 !important;
    padding-left: 0px !important;
}
.submenu-group-title > span::after {
  background-image: none !important;
}
.msp-security-suite-logo-config {
  display: none !important;
}
.msp-security-suite-logo-config + span {
  padding-left: 0 !important;
}
div.config-nav-block:nth-child(3) > div:nth-child(1) > strong:nth-child(1) > div:nth-child(1) {
  padding-left: 0px !important;
  background: none !important;
}
